#search{
    margin-top: 2rem;
    margin-left: 17rem;
    .item-icon{
        font-size: 50px;
    }
    .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
        border-radius: 40px;
    }
    .menu{
        font-size: 10px;
       
    }
}